:root{
    /*theme 1 colors*/
 --back:  hsl(222, 26%, 31%);
 --keypad: hsl(223, 31%, 20%);
 --screen: hsl(224, 36%, 15%);
 --keybac: hsl(225, 21%, 49%);
 --keyshad: hsl(224, 28%, 35%);
 --red: hsl(6, 63%, 50%);
 --redback:hsl(6, 70%, 34%);
 --orange: hsl(30, 25%, 89%);
 --grayOra:hsl(28, 16%, 65%);
 
 --textCol:hsl(221, 14%, 31%);
 /*theme2*/
 --back2:hsl(0, 0%, 90%);
 --keypd2: hsl(0, 5%, 81%);
 --scren2: hsl(0, 0%, 93%);
 --keyback2: hsl(185, 42%, 37%);
 --keyshd2:hsl(25, 99%, 27%);
 --grayyellow: hsl(45, 7%, 89%);
 --shadow:hsl(35, 11%, 61%);
 --text:hsl(60, 10%, 19%);
 /*theme3*/
--backgd: hsl(268, 75%, 9%);
--screen3: hsl(268, 71%, 12%);
--keyback: hsl(281, 89%, 26%);
--keyshadow: hsl(285, 91%, 52%);
--Purecyan: hsl(176, 100%, 44%);
--Softcyan: hsl(177, 92%, 70%);
--darkviolet: hsl(268, 47%, 21%);
--Darkmagenta: hsl(290, 70%, 36%);
--Lightyellow: hsl(52, 100%, 62%);
--darkblue: hsl(198, 20%, 13%);
--White: hsl(0, 0, 100%);
}
/*general css*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
body{
     height: 100%;
    background-color: var(--back);
    font-family: 'Spartan', sans-serif;
    color: white;
}
/*structure top-bottom*/
.wrap{
    border: 2px solid red;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    width: 100px;
    display: flex;
    justify-content: space-between;
}
.slider{
    width: 100px;
    aspect-ratio: 4;
   
    background-color: var(--screen);
    padding: 4px;
    border-radius: 10px;
}
.ball{
    width: 20px;
    height: 20px;
    background-color: var(--red);
    border-radius: 50%;
}
.screen input{
    border: 2px solid yellow;
    width: 100%;
    height: 5rem;
    padding: 2rem;
}
.grid-container
{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    padding: 0 2rem;
    background-color: var(--screen);
}
.btn{
    border: 2px solid red;
    width: 80px;
    aspect-ratio: 0.9;
}